# Node modules
node_modules/

# React build/cache
frontend/node_modules/
frontend/.cache/
frontend/build/

# Python/Django
*.pyc
__pycache__/
db.sqlite3
# .env  # Commented out to allow .env file in backend

# Logs
*.log
